.textAlign {
  text-align: left;
}

.home-heading {
  font-size: 24px;
  font-weight: bold;
  color: "#0C96B1";
}

.listing-table {
  margin-top: 20px;
}

.cardconseil {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.stretched-link {
  text-decoration: none;
}

.recruitment-pages {
  content: "";
  position: absolute;
  left: 80px;
  top: 330px;
  height: 15px;
  width: 35px;
  max-width: 100%;
  border-bottom: 4px solid #18b51d;
  transition: width 1.5s;
}

.betamr {
  color: #0c96b1;
}

.hr1 {
  margin-top: -30px;
  margin-left: -10px;
}
