/* App.css */

/* .container {
  background: #fff;
} */

/* .divIndex {
} */

/* .card {
  padding: 5px;
}

.card-body {
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.bgCard {
 
}

.titrecol {
  font-weight: bold;
}

.titre_size {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}

.titre_size:hover {
  text-decoration: underline;
}

.post-card {
  width: 100%;
  margin-bottom: 2px;
}

.post-card-content {
  font-weight: bold;
}

.sizeBd {
  font-size: 0.875rem;
}

.appelText {
  color: #040404;
}

.text-danger {
  color: red;
}

.imgCard {
  width: 100%;
  height: auto;
}

.small {
  font-size: 0.875rem;
} */
