/* Centrage vertical + fond */

@media (max-width: 768px) {
  .password-reset-page {
    padding: 20px;
  }

  .password-reset-card {
    width: 100% !important;
    margin: 0 10px;
  }

  .password-reset-card input.form-control {
    font-size: 15px;
    height: 40px;
  }

  .card-bod {
    padding: 15px;
  }

  .btn {
    width: 100%;
    font-size: 16px;
    padding: 12px 10px;
  }

  .text-end {
    text-align: center !important;
    padding-right: 0 !important;
  }

  .mb-4.row {
    flex-direction: column;
    text-align: left;
  }

  .mb-4 .col-md-4,
  .mb-4 .col-md-7 {
    width: 100%;
  }

  .col-md-4 {
    margin-bottom: 8px;
  }
}

.password-reset-page {
  padding-top: 50px;
}

.reset-page {
  background-color: #f8f9fc;
  height: auto;
}
/* Carte stylée */
.password-reset-card {
  width: 700px;
  border-radius: 12px;
}

/* Input plus grand */
.password-reset-card input.form-control {
  height: 45px;
  font-size: 16px;
}

.bgcolor {
  color: #858796;
  font-size: 16px;
}

.bgcolore {
  color: #858796;
}

.baccolor {
  background: #f8f9fc;
}

.baccolorbtn {
  background: #4e73df;
}
.password-reset-card button {
  font-size: 16px;
  padding: 10px 30px;
}
