.card-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  padding: 0 5px;
  border: 1px solid #4cb6ea;
  /* border-top: 0; */
  /* border-right: 0; */
  border-top-left-radius: 10px;
  color: #666;
  font-size: 0.9rem;
}

.imgliste {
  max-width: 60px;
  max-height: 46px;
  /* object-fit: contain; */
}

.titre1 {
  text-decoration: none !important;
  color: #0c96b1;
}

.dateleiu {
  font-size: 9.6px;
  margin-top: -15px;
}

.entreprise {
  font-size: 11px;
  color: #0c74cc;
  /* margin-top: 10px; */
}
